<div class="container-fluid p-5">

    <div class="row">

        <div class="col-12">
            <h5 class="font-weight-bold my-1">Level {{level.index + 1}}</h5>
        </div>
        <div class="col-12">
            <button class="mx-1 btn btn-primary btn-sm" (click)="nextLevel(level.index - 1)"
                    [disabled]="level.index < 1">Previous
            </button>
            <button class="mx-1 btn btn-primary btn-sm" (click)="nextLevel(level.index + 1)"
                    [disabled]="level.index >= levels.length - 1">Next
            </button>
            <!--            <button class="mx-1 btn btn-dark btn-sm" (click)="solveBoard()">Solve</button>-->
        </div>
    </div>

    <div class="row ml-1" [class.mt-2]="!j" *ngFor="let col of level.grid_size[1]|NumberNgFor; let j = index">

        <div class="col p-0 cell d-inline-block m-1 text-center position-relative"
             [ngStyle]="{
                borderColor: level.solution?.colors[i + ',' + j]?.toLowerCase(),
                color: level.cells[i + ',' + j]?.color.toLowerCase()
             }"
             *ngFor="let row of level.grid_size[0]|NumberNgFor; let i = index">

            <i *ngFor="let dir of dirs.LR.concat(dirs.TB)"
               [hidden]="!level.solution?.edges['e_CELL'+i+','+j + '_CELL'+(i + dir[0])+','+(j + dir[1])]"
               [ngStyle]="{
                    top: (dir[1] + 1) * 32 - 8 + 'px',
                    left: (dir[0] + 1) * 32 - 8 + 'px',
                    color: level.solution?.edges['e_CELL'+i+','+j + '_CELL'+(i + dir[0])+','+(j + dir[1])]?.toLowerCase()
                  }"
               class="position-absolute la la-square-full">
            </i>

            <ng-container [ngSwitch]="level.cells[i + ',' + j]?.type">
                <i class="la la-2x la-adjust" *ngSwitchCase="types.NEGATIVE"></i>
                <i class="lar la-2x la-dot-circle" *ngSwitchCase="types.START"></i>
                <i class="lar la-2x la-circle" *ngSwitchCase="types.END"></i>
                <span *ngSwitchDefault></span>
            </ng-container>
            <br>
            <small class="font-weight-bold" [ngStyle]="{color: 'black'}">{{i}},{{j}}</small>

        </div>

    </div>
</div>

<div class="row">
    <div class="col">
        <pre>{{(level.solution || 'UNSOLVABLE')|json}}</pre>
    </div>
</div>

